@model Examonitor.Models.ReservatieModel

@{
    ViewBag.Title = "Delete";
}

<h2>Uitschrijven voor Reservatie</h2>

<h3>Ben jij zeker dat jij je wilt uitschrijven?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AangemaaktOp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AangemaaktOp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AangepastOp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AangepastOp)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="btn-group">
            <input type="submit" value="Uitschrijven" class="btn btn-success btn-default" />
            <input type="BUTTON" value="Annuleren" class="btn btn-danger btn-default" onclick="window.location.href = '@Url.Action("Index")'" />
        </div>
    }
</div>