@model IEnumerable<Examonitor.Models.ReservatieModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Toezichtbeurt.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toezichtbeurt.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toezichtbeurt.Einde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AangemaaktOp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AangepastOp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Toezichtbeurt.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toezichtbeurt.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toezichtbeurt.Einde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AangemaaktOp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AangepastOp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ReservatieId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservatieId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservatieId })
        </td>
    </tr>
}

</table>
