@model Examonitor.Models.MyUser
@{
    ViewBag.Title = "Edit";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)


    <fieldset class="form-horizontal">
        <legend>Edit a user.</legend>
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Roles, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoleId")
            </div>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Edit" class="btn" />
        </div>
</fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
