@model Examonitor.Models.MonitorBeurtModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>MonitorBeurtModel</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.Datum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Datum)
                @Html.ValidationMessageFor(model => model.Datum, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Start, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Start)
                @Html.ValidationMessageFor(model => model.Start, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Einde, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Einde)
                @Html.ValidationMessageFor(model => model.Einde, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duurtijd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duurtijd)
                @Html.ValidationMessageFor(model => model.Duurtijd, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Capaciteit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Capaciteit)
                @Html.ValidationMessageFor(model => model.Capaciteit, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gereserveerd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gereserveerd)
                @Html.ValidationMessageFor(model => model.Gereserveerd, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Digitaal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Digitaal)
                @Html.ValidationMessageFor(model => model.Digitaal, null, new { @class = "help-inline" })
            </div>
        </div>

        @Html.DropDownList("CampusId")


        <div class="form-actions no-color">
            <input type="submit" value="Create" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

