@model Examonitor.Models.MonitorBeurtModel

@{
    ViewBag.Title = "Monitorbeurt Toevoegen";
}

<h2>Monitorbeurt</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" })) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <legend>Toevoegen</legend>
    <form class="form-horizontal" role="form">

            <div class="col-sm-10">
                @Html.EditorFor(model => model.ExamenNaam)
            </div>

            <div class="col-sm-10">
                @Html.EditorFor(model => model.BeginDatum)
            </div>

            <div class="col-sm-10">
                @Html.EditorFor(model => model.EindDatum)
            </div>

            <div class="col-sm-10">
                @Html.EditorFor(model => model.Capaciteit)

            </div>

            <div class="col-sm-10">
                @Html.EditorFor(model => model.Digitaal)
            </div>

        <div class="col-sm-10">
            <div class="form-group">
                @Html.LabelFor(m => m.Campus, new { @class = "col-sm-2 control-label" })
                @Html.DropDownList("CampusId", ViewBag.CampusId as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Campus, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="btn-group">
            <input type="submit" value="Toevoegen" class="btn btn-success btn-default" />
            <input type="BUTTON" value="Annuleren" class="btn btn-danger btn-default" onclick="window.location.href = '@Url.Action("Index")'" />
        </div>

</form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $('#BeginDatum').datetimepicker();
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#EindDatum').datetimepicker();
        });
    </script>

}