@using Examonitor.Models;
@model Tuple<MonitorBeurtModel, ReservatieModel, IEnumerable<ReservatieModel>>


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MonitorBeurtModel</legend>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Item1.ExamenNaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.ExamenNaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item1.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Einde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Einde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Duurtijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Duurtijd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Capaciteit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Capaciteit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Gereserveerd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Gereserveerd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Digitaal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Digitaal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Campus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Campus.Name)
        </dd>

    </dl>
</fieldset>
@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Admin"))
{<table class="table">
        <tr>
            <th width="1%">
                @Html.DisplayNameFor(model => model.Item2.UserName)
            </th>
        </tr>

        @foreach (var item in Model.Item3)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            </tr>
        }
    </table>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.MonitorBeurtId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
