@using Examonitor;
@model IEnumerable<Examonitor.Models.MonitorBeurtModel>
           

@{
    ViewBag.Title = "Monitor Beurten";
}

<h2>Monitor beurten</h2>

<p>
    @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
        <span>|</span>
        @Html.ActionLink("Delete All", "DeleteAll")
    }
 
    @using (Html.BeginForm("Index", "MonitorBeurt", FormMethod.Get))
    {
    <p>
        Campus: @Html.DropDownList("MonitorBeurtCampus", "All")
        @*Campus: @Html.TextBox("SearchString")*@
        <input type="submit" value="Filter" />
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            
            @Html.ActionLink("Examen", "Index", new { sortOrder = ViewBag.ExamenNaamSortParm }, new { })
        </th>
        <th>
            @Html.ActionLink("Datum", "Index", new { sortOrder = ViewBag.DatumSortParm }, new {  })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Einde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duurtijd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capaciteit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gereserveerd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Digitaal)
        </th>
        <th>
            @Html.ActionLink("Campus", "Index", new { sortOrder = ViewBag.CampusSortParm })
        </th>
        <th></th>
    </tr>

    @{var rowColor = "rgba(255,255,255,0.0);"; }
@foreach (var item in Model)
{
    if (item.ReservedByCurrentUser) { rowColor = "rgba(0,255,0,0.5)"; }
    else {
        if (!item.Available) { rowColor = "rgba(255,0,0,0.5)"; }
        else { rowColor = "rgba(255,255,255,0.0)"; }
    }
    
    <tr style="background-color:@rowColor;">
        <td>
            @Html.DisplayFor(modelItem => item.ExamenNaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Einde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duurtijd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capaciteit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gereserveerd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Digitaal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Campus.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MonitorBeurtId }).If(User.IsInRole("Admin")) 
            @Html.ActionLink("Details", "Details", new { id = item.MonitorBeurtId }).If(User.IsInRole("Admin")) 
            @Html.ActionLink("Delete", "Delete", new { id = item.MonitorBeurtId }).If(User.IsInRole("Admin"))
            @Html.ActionLink("Reserveren", "ReservatieToevoegen", "Reservatie", new { id=item.MonitorBeurtId },"").If(!item.ReservedByCurrentUser && item.Available)
            @Html.ActionLink("Uitschrijven", "Delete", "Reservatie", new { id = item.CurrentRegistratieID }, "").If(item.ReservedByCurrentUser)
        </td>
    </tr>
}

</table>
