@using Examonitor;
@model IEnumerable<Examonitor.Models.MonitorBeurtModel>
@Styles.Render("~/Content/Sites.css")  

@{
    ViewBag.Title = "Monitor Beurten";
}

<h2>Monitor beurten</h2>

<p>
    
    
    @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Monitorbeurt toevoegen", "Create")
        <span> | </span>
        @Html.ActionLink("Monitorbeurten importeren", "Import")
        <span> | </span>
        @Html.ActionLink("Delete All", "DeleteAll")
    }
 
    @using (Html.BeginForm("Index", "MonitorBeurt", FormMethod.Get))
    {        
        <p>
            Campus: @Html.TextBox("MonitorBeurtCampus", ViewBag.CurrentFilter as string)  
            <input type="submit" value="Search" class="btn btn-success btn-sm" /></p>
        
    }
</p>
<table class="table">
    <tr>
        <th>
            
            @Html.ActionLink("Examen", "Index", new { sortOrder = ViewBag.ExamenNaamSortParm, MonitorBeurtCampus = ViewBag.CurrentFilter }, new { })
        </th>
        <th>
            @Html.ActionLink("Datum", "Index", new { sortOrder = ViewBag.DatumSortParm, MonitorBeurtCampus = ViewBag.CurrentFilter }, new { })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duurtijd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capaciteit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gereserveerd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Digitaal)
        </th>
        <th>
            @Html.ActionLink("Campus", "Index", new { sortOrder = ViewBag.CampusSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @{var rowColor = "rgba(255,255,255,0.0);"; }
@foreach (var item in Model)
{
    if (item.ReservedByCurrentUser) { rowColor = "rgba(0,255,0,0.5)"; }
    else {
        if (!item.Available) { rowColor = "rgba(255,0,0,0.5)"; }
        else { rowColor = "rgba(255,255,255,0.0)"; }
    }
    
    <tr style="background-color:@rowColor;">
        <td>
            @Html.DisplayFor(modelItem => item.ExamenNaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duurtijd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capaciteit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gereserveerd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Digitaal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Campus.Name)
        </td>
        <td>
            @if (User.IsInRole("Admin")) { @Html.Raw("<a href=\"" + @Url.Action("Edit", "Monitorbeurt", new { id = item.MonitorBeurtId }) + "\"><i class=\"glyphicon glyphicon-edit black\" title=\"Bewerken\"></i></a>"); }
            @if (User.IsInRole("Admin")) { @Html.Raw("<a href=\"" + @Url.Action("Delete", "Monitorbeurt", new { id = item.MonitorBeurtId }) + "\"><i class=\"glyphicon glyphicon-remove red\" title=\"Verwijderen\"></i></a>"); }
            @if (!item.ReservedByCurrentUser && item.Available) { @Html.Raw("<a href=\"" + @Url.Action("ReservatieToevoegen", "Reservatie", new { id = item.MonitorBeurtId }) + "\"><i class=\"glyphicon glyphicon-log-in\" title=\"Inschrijven\"></i></a>");}
            @if (item.ReservedByCurrentUser){ @Html.Raw("<a href=\"" + @Url.Action("Delete", "Reservatie", new { id = item.CurrentRegistratieID }) + "\"><i class=\"glyphicon glyphicon-log-out\" title=\"Uitschrijven\"></i></a>"); }
        </td>
    </tr>
}

</table>
